@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');


:root{
    --main-color: rgb(241, 179, 107);
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .2);

}

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}